@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 68, 75;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-cl: #f0f0f0;
  --color-link: #eaaa18;
  --box-shadow: 0 12.5px 12.5px 12.5px rgba(0, 0, 0, 0.15);

  --sidebar-bg: #1e6f48;
  --sidebar-text: #ffffff;

  --error-cl: #8e0b21;

  --btn-bg: #2a6948;
  --btn-text: #ffffff;
  --btn-bd: #2a6948;

  --btn-bg-hv: #245d4d;
  --btn-text-hv: #ffffff;
  --btn-bd-hv: #245d4d;
}

body {
  font-size: medium;
}

body * {
  font-family: inherit !important;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1680px) {
  .container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* antd */
body .ant-btn-primary {
  background-color: var(--btn-bg);
  border-color: var(--btn-bd);
  color: var(--btn-text);
}

body .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--btn-bg-hv);
  border-color: var(--btn-bd-hv);
  color: var(--btn-text-hv);
}

body .ant-checkbox-checked .ant-checkbox-inner,
body
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner,
body .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: var(--btn-bg);
  border-color: var(--btn-bd);
}

body
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-inner,
body .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
body .ant-input:hover,
body .ant-input:focus,
body .ant-input:focus-within,
body .ant-input-affix-wrapper:focus,
body .ant-input-affix-wrapper:focus-within,
.ant-radio-wrapper:hover body .ant-radio-wrapper,
body .ant-radio-wrapper:hover .ant-radio-inner {
  border-color: var(--btn-bd);
}

body .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: var(--color-link);
  color: var(--color-link);
}

body .ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: var(--btn-bg);
}

body
  .ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover,
body
  .ant-menu-light
  > .ant-menu
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover,
body
  .ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)
  > .ant-menu-submenu-title:hover,
body
  .ant-menu-light
  > .ant-menu
  .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)
  > .ant-menu-submenu-title:hover {
  color: var(--sidebar-text);
}

body .ant-menu-light .ant-menu-item-selected,
body .ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: var(--color-link);
}

body .ant-pagination .ant-pagination-item-active a {
  color: var(--btn-bd);
}

body .ant-pagination .ant-pagination-item-active {
  border-color: var(--btn-bd);
}

body .ant-btn-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--btn-bd);
  border-color: var(--btn-bd);
}

body .ant-btn-link,
body .ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--color-link);
}

body a:hover,
:where(.css-dev-only-do-not-override-d2lrxs).ant-breadcrumb a:hover {
  color: var(--color-link);
}

body .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected,
body .ant-menu-light > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected,
body .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected,
body
  .ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  color: var(--color-link);
}

body .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
body
  .ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
body .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after,
body
  .ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-color: var(--color-link);
}

body .ant-breadcrumb ol {
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

/* animation */
/* ----------------------------------------------*/
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}
